.content {
  width: 100vw;
  height: 100vh;
  background: url(../images/bg_02.jpg) center no-repeat;
  background-size: 100% 100%;
  padding-top: 1.75vw;
  padding-bottom: 5.5vw;
}

.content .header {
  width: 100%;
  height: 10vh;
  padding: 0 3.75vw;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.content .header .header_l {
  width: 56.25vw;
}

.content .header .header_l ul {
  width: 100%;
  height: 10.5vh;
  padding-top: 2.25vh;
  display: flex;
  box-sizing: border-box;
}

.content .header .header_l ul li {
  width: 14.75vw;
  height: 6vh;
  margin-right: 2.5vw;
}

.content .header .header_l ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .header .header_l ul li a img {
  width: 2.5vw;
  height: 2.5vh;
  margin-right:  1.375vw;
}

.content .header .header_l ul li a span {
  font-size: 2.5vw;;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #9da4b6;
  line-height: 4vh;;
}

.content .header .header_l ul .sel_li {
  background-size: 100% 100%;
}

.content .header .header_l ul .sel_li a span {
  color: #fff;
}

.content .header .header_m {
  width: 81.25vw;
  height: 100%;
}

.content .header .header_m h1 {
  width: 100%;
  font-size: 5.25vw;
  font-family: SourceHanSansCN;
  font-weight: 500;
  line-height: 10.5vh;
  /*国粹经典--永昌永子*/
  background: linear-gradient(0deg, #a7c0ff 0%, black 0%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.content .header .header_r {
  width: 56.25vw;
}

.content .header .header_r ul {
  width: 100%;
  height: 10.5vh;
  padding-top: 2.25vh;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.content .header .header_r ul li {
  width: 14.75vw;
  height: 6vh;
  background-size: 100% 100%;
  margin-right: 2.5vw;
}

.content .header .header_r ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .header .header_r ul li a img {
  width: 2.5vw;
  height: 2.5vh;
  margin-right: 1.375vw;
}

.content .header .header_r ul li a span {
  font-size: 2.5vw;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #9da4b6;
  line-height: 4vh;
}

.content .header .header_r ul li:last-child {
  width: 13.375vw;
  box-sizing: border-box;
  margin-right: 0;
  padding-right: 2.5vw;
  margin-left: 3vw;
  background: none !important;
}

.content .header .header_r ul li:last-child a {
  justify-content: flex-end;
}

.content .header .header_r ul li:last-child img {
  margin-right: 1.25vw;
}

.content .header .header_r ul li:last-child span {
  font-size: 2.5vw;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 4vh;
}

.content .header .header_r ul .sel_li {
  background-size: 100% 100%;
}

.content .main {
  width: 100%;
  height: 100vh;
  padding: 0 3.75vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

.content .main .item {
  width: 20%;
  height: 30%;
  margin-bottom: 1.75vw;
  padding-top: 0.75vw;
  box-sizing: border-box;
}

.content .main .title {
  width: 100%;
  display: flex;
  align-items: center;
}

.content .main .title h2 {
  width: 21.875vw;
  font-size: 2vw;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 6vh;
  padding-left: 2.5vw;
}

.content .main .title p {
  width: 10.5vw;
  height: 3.5vh;
  background: rgba(75, 126, 254, 0.16);
  border-radius: 1.75vw;
  line-height: 3.5vh;
  font-size: 1.75vw;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FFFFFF;
  margin-right: 3.125vw;
  margin-left: 0.875vw;
}

.content .main .title p span {
  display: inline-block;
  width: 6.5vw;
  height: 3.5vh;
  border-radius: 1.75vw;
  text-align: center;
  cursor: pointer;
}

.content .main .title p .span_c {
  background-color: #4b7efe;
}

.content .main .title button {
  width: 14.625vw;
  height: 6vh;
  background-size: 100% 57%;
  background-position: 0% 90%;
  border: none;
  cursor: pointer;
  margin-right: 1.5vw;
}

.content .main .main_l {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .main .main_l .item {
   /*图表背景*/
  background: rgba(222, 184, 135, 0.35);
  width: 100%;
  height: 48%;
  margin-bottom: 1.75vw;
  padding-top: 0.75vw;
  box-sizing: border-box;
}

.content .main .main_l .item .con {
  width: 100%;
}

.content .main .main_l .item .con .con_t {
  width: 100%;
  height: 8.75vh;
  padding-top: 1.875vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.content .main .main_l .item .con .con_t p {
   width: 37.5vw;
  font-size: 2vw;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 4vh;
  margin: 0 auto;
  background-size: 100% 3vh;
  background-position: 0% 100%;
  text-align: center;
}

.content .main .main_l .item .con .con_t p span {
  font-size: 4vw;
  font-family: DINPro;
  font-weight: 600;
  color: #00FFEA;
  line-height: 4vh;
  margin-right: 0.375vw;
  margin-left: -0.625vw;
}

.content .main .main_l .item .con .con_t p b {
  font-size: 2vw;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #00FFEA;
  line-height: 4vh;
}

.content .main .main_l .item .con .con_t button {
  width: 11.25vw;
  height: 1.75vh;
  border: none;
  margin-right: 1.25vw;
  cursor: pointer;
  margin-top: 0.375vh;
}

.content .main .main_l .item .con .con_f {
  width: 100%;
  height: 80%;
  margin-top: 0.25vw;
}

.content .main .main_l .item:last-child .con .con_t p span {
  color: #6299FF;
}

.content .main .main_l .item:last-child .con .con_t p b {
  color: #6299FF;
}

.content .main .eject_bigbox {
  width: 40%;
  height: 60%;
  position: absolute;
  top: 1vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 4vh;
  /*视频背景颜色*/
  background-color: #f7e1b5;
  background-size: 100% 100%;
  z-index: 9999;
  padding: 0 2.5vw;
  padding-top: 1.875vw;
  box-sizing: border-box;
}

.content .main .eject_bigbox h2 {
  width: 100%;
  font-size: 1.5vw;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #FFFFFF;
   line-height: 5.375vh;
  text-align: center;
}

/*这是一个关闭按钮，位于弹出框的右上角*/
.content .main .eject_bigbox .close2 {
 width: 5vw;
  height: 5vh;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  /* 设置“X”符号的颜色 */
  color: white;
  /* 设置“X”符号的大小 */
  font-size: 3.75vw;
}

.content .main .eject_bigbox .close2::before {
  /* 添加“X”符号 */
  content: "×";
}

/*让关闭按钮更明显*/
.content .main .eject_bigbox .close2:hover {
  background-color: red;
}

.content .main .eject_bigbox .con_box {
  width: 100%;
  height: 80%;
  /* 超出部分显示滚动条 */
  overflow-y: auto;
}

.content .main .eject_bigbox .con_box::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 1vw;;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1vh;
}

.content .main .eject_bigbox .con_box::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 0.625vw;
  -webkit-box-shadow: inset 0 0 0.0625rem rgba(0, 0, 0, 0.2);
  /*视频的滚动条*/
  background: white;
}

.content .main .eject_bigbox .con_box::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 0.0625rem rgba(0, 0, 0, 0.2);
  border-radius: 0.625vw;
}



.content .main .eject_bigbox video {
  width: 100%;
  height: 100%;
  margin-bottom: 1.25vw;
}


.content .main .eject_bigbox {
  position: relative;
  width: 100%;
  height: 75%;
}

.content .main .eject_bigbox p {
   font-size: 1vw;
  width: 95%;
  font-family: SourceHanSansCN;
  font-weight: 100;
  /*棋子出云南*/
  color: black;
  line-height: 2vh;
  padding-bottom: 0.25vw;
}

.content .main .eject_bigbox .textbox {
  margin-bottom: 0.25vw;
  position: absolute;
  bottom: 0;
   /* 宽度与容器相同 */
  width: 100%;
}

.content .main .eject_bigbox_control {
  display: none;
}

.content .main .main_m {
  width: calc(100% - 13.25rem);
  position: absolute;
  padding-top: 3.75vw;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  margin-bottom: 31.25vw;
}

.content .main .main_m .main_m_t {
  width: 97.5vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
   /*图表背景*/
  background: rgba(222, 184, 135, 0.35);
}

.content .main .main_m .main_m_t .item1 {
  width: 22.5vw;
  height: 25.875vh;
  padding-top: 4.5vw;
  box-sizing: border-box;
}

.content .main .main_m .main_m_t .item1 p {
  width: 100%;
   font-size: 4vw;
  font-family: DINPro;
  font-weight: 500;
  color: #4B7EFE;
  line-height: 2.875vh;
  text-align: center;
  margin-bottom: 1.75vw;
}

.content .main .main_m .main_m_t .item1 span {
  display: block;
  width: 100%;
  font-size: 1.75vw;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.75vh;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 4.875vw;
}

.content .main .main_m .main_m_t .item1 span:last-child {
  margin-bottom: 0;
}

.content .main .main_m .main_m_t .item1:nth-child(2) p {
  color: #00FFEA;
}

.content .main .main_m .main_m_t .item1:nth-child(3) p {
  color: #FEC31D;
}

.content .main .main_m .main_m_t .item1:nth-child(4) p {
  color: #917CFF;
}

.content .main .eject {
  position: absolute;
  top: 37.5vw;
  left: 70vw;
  width: 36.25vw;
  height: 55.625vh;
  background-size: 100% 100%;
  z-index: 999;
  padding-top: 4.25vw;
  padding-left: 3vw;
  box-sizing: border-box;
}

.content .main .eject .close {
  width: 3.125vw;
  height: 3.125vh;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.content .main .eject h2 {
  height: 3vh;
  width: 22.5vw;
  font-size: 2.5vw;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 3vh;
  display: flex;
  margin-bottom: 1.25vw;
}

.content .main .eject h2 img {
  margin-right: 1vw;
}

.content .main .eject .con_text {
  width: 25vw;
}

.content .main .eject .con_text p {
  font-size: 2vw;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #8a93b5;
  line-height: 4vh;
}

.content .main .eject .con_text p span {
  color: #00FFEA;
  font-size: 2.25vw;
}

.content .main .eject .line5 {
  width: 31.25vw;
  height: 15vh;
  margin-left: -0.625vw;
}

.content .main .control {
  display: none !important;
}

.content .main .main_m_f {
  position: absolute;
  width: 97.5vw;
  padding-top: 5vw;
  padding-bottom: 3vw;
  bottom: 2vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
}

.content .main .main_m_f ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content .main .main_m_f ul li {
  width: 9vw;
}

.content .main .main_m_f ul li a {
  display: block;
  width: 100%;
  height: 8vh;
  margin-bottom: 1.375vw;
}

.content .main .main_m_f ul li span {
  display: block;
  width: 100%;
 font-size: 2vw;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #adf3e6;
  line-height: 2vh;
  text-align: center;
}

.content .main .main_m_f ul li img {
  width: 8.875vw;
  height: 7.875vh;
}


.content .main .main_m_f ul li a img:nth-child(1) {
  display: block;
}

.content .main .main_m_f ul li a img:nth-child(2) {
  display: none;
}

.content .main .main_m_f ul li span {
    display: block;
  width: 100%;
  font-size: 2vw;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #adf3e6;
  line-height: 2vh;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.content .main .main_m_f ul li.active span {
  background: linear-gradient(180deg, #ffb63b, #adf3e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .main .main_m_f ul li.active a img:nth-child(1) {
  display: none;
}

.content .main .main_m_f ul li.active a img:nth-child(2) {
  display: block;
}

.content .main .main_r {
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .main .main_r .item {
  width: 100%;
  height: 48%;
  margin-bottom: 1.75vw;
  padding-top: 0.75vw;
  box-sizing: border-box;
   /*图表背景*/
  background: rgba(222, 184, 135, 0.35);
}

.content .main .main_r .item .con {
  width: 100%;
}

.content .main .main_r .item .con .con_t {
  width: 100%;
  height: 8.75vh;
  padding-top: 1.875vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.content .main .main_r .item .con .con_t p {
  width: 37.5vw;
  font-size: 2vh;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 4vh;
  margin: 0 auto;
  background-position: 0% 100%;
  text-align: center;
}

.content .main .main_r .item .con .con_t p span {
  font-size: 4vw;
  font-family: DINPro;
  font-weight: 600;
  color: #E0AB14;
  line-height: 4vh;
  margin-right: 0.375vw;
  margin-left: -0.625vw;
}

.content .main .main_r .item .con .con_t p b {
  font-size: 2vw;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #E0AB14;
  line-height: 4vh;
}

.content .main .main_r .item .con .con_t button {
  width: 11.25vw;
  height: 1.75vh;
  border: none;
  margin-right: 1.25vw;
  cursor: pointer;
  margin-top: 0.375vh;
}

.content .main .main_r .item .con .con_f {
  width: 100%;
  height: 80%;
  margin-top: 0.25vw;
}


.content .main .main_r .item:last-child .con .con_t p span {
  color: #917CFF;
}

.content .main .main_r .item:last-child .con .con_t p b {
  color: #917CFF;
}


.daterangepicker {
  background: #061745 !important;
}

.daterangepicker .calendar-table {
  background: #061745 !important;
}

.daterangepicker td.active {
  color: #000 !important;
  background: #4b7efe !important;
}

.daterangepicker td.off {
  background: #061745 !important;
  color: #193d5c !important;
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
  color: #357ebd;
}

.daterangepicker .calendar-table {
  border-color: #061745 !important;
}

.btn-success {
  background-color: #357ebd;
  border-color: #357ebd;
  outline: none;
}

.btn-success:hover {
  background-color: #357ebd;
  border-color: #357ebd;
}

.btn-success[disabled] {
  background-color: #357ebd;
  border-color: #357ebd;
}

.btn-success:focus {
  background-color: #357ebd;
  border-color: #357ebd;
  outline: none;
}

.btn-success:active {
  background-color: #357ebd;
  border-color: #357ebd;
}

.daterangepicker.dropdown-menu {
  z-index: 99999 !important;
}

.amap-logo {
  display: none !important;
  visibility: hidden !important;
}

.amap-copyright {
  display: none !important;
  visibility: hidden !important;
}

.content .main .eject_bigbox p {
  text-indent: 2vw;
}

.content .main .main_m_f ul li {
  width: 10vw;
}